@use '@angular/material' as mat;

mat-card {
  display: flex;
  flex-flow: row nowrap;
  max-width: 450px;
  height: 190px;
  overflow: hidden;
  cursor: pointer;

  transition: box-shadow 0.05s linear;

  .content {
    flex-grow: 1;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    .duration {
      font: var(--mat-sys-title-medium);
    }

    .price {
      font: var(--mat-sys-headline-medium);
      color: var(--mat-sys-tertiary);
    }
  }

  .image {
    width: 55%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

:host:hover {
  @include mat.card-overrides(
    (
      elevated-container-elevation: var(--mat-sys-level0),
    )
  );
}
