<mat-form-field
  subscriptSizing="dynamic"
  class="form-field"
  appearance="outline"
  [matTooltip]="tooltip"
>
  <mat-label>Pick your Stay</mat-label>
  <input
    #selector
    matInput
    type="text"
    spellcheck="false"
    [formControl]="control"
    [matAutocomplete]="auto"
    (input)="filter()"
    (focus)="filter()"
  />
  @if (control.hasError('location') && !auto.isOpen) {
    <mat-error>The Selected Stay is not available in this location</mat-error>
  }

  <mat-autocomplete
    #auto="matAutocomplete"
    requireSelection
    autoActiveFirstOption
    [displayWith]="displayFn"
  >
    @for (option of filteredOptions | async; track option.id) {
      <mat-option [value]="option.id">{{ option.displayName }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
