.post-comment-form {
  display: flex;
  flex-flow: column nowrap;

  gap: 8px;
  max-width: 600px;
}

.comment-field {
  width: 100%;
}

.comment-input-summary {
  width: 100%;
}

button[type='reset'] {
  display: none;
}
