<app-header>
  @if (trip) {
    <div
      class="header-directions"
      align-center
    >
      @let from = trip.directions.from;
      @let to = trip.directions.to;
      <mat-icon>flight_takeoff</mat-icon>
      {{ from }}
      <mat-icon> arrow_forward </mat-icon>
      {{ to }}
      <mat-icon>flight_land</mat-icon>
    </div>
  }
</app-header>

@if (trip) {
  <main>
    <!-- Info -->
    <mat-card
      appearance="outlined"
      class="section"
    >
      <mat-card-header>
        <mat-card-title> Trip details </mat-card-title>
        <mat-card-subtitle>
          Author:
          <a
            class="link"
            [routerLink]="['/user', trip.info.author.id]"
            >{{ trip.info.author.name }}</a
          >
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ trip.info.description }}
        </p>
      </mat-card-content>
    </mat-card>

    <!-- Plan -->
    <mat-card
      appearance="outlined"
      class="section"
    >
      <mat-card-header>
        <mat-card-title> Trip plan </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-plan-view [plan]="trip.plan"></app-plan-view>
      </mat-card-content>
    </mat-card>

    <!-- Comments -->
    <mat-card
      appearance="outlined"
      class="section"
    >
      <mat-card-header>
        <mat-card-title> Comments </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <section class="sub-section">
          <div class="comments-container">
            @if (trip.comments.length) {
              @for (comment of trip.comments; track $index) {
                <div class="comment">
                  @let isCurrentUser = comment.author.id === authService.currentUser()?.id;
                  @let userLink = isCurrentUser ? ['/profile'] : ['/user', comment.author.id];
                  @let isOP = comment.author.id === trip.info.author.id;

                  <a
                    class="link"
                    [routerLink]="userLink"
                  >
                    @if (isOP) {
                      <b class="author-marker">OP</b>
                    }
                    @if (isCurrentUser) {
                      You
                    } @else {
                      {{ comment.author.name }}
                    }
                  </a>

                  @if (isCurrentUser) {
                    write:
                  } @else {
                    writes:
                  }

                  <blockquote>
                    <h3>{{ comment.title }}</h3>

                    {{ comment.content }}
                  </blockquote>
                </div>
              }
            } @else {
              No comments... yet
            }
          </div>
        </section>
      </mat-card-content>
    </mat-card>

    <!-- Comments -->
    <mat-card
      appearance="outlined"
      class="section post-comment-section"
    >
      <mat-card-header>
        <mat-card-title> Post comment </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-icon class="bg-icon">question_answer</mat-icon>
        @if (authService.currentUser()) {
          <app-post-comment
            [tripId]="trip.id"
            (onPosted)="addComment($event)"
          ></app-post-comment>
        } @else {
          To post a comment, you must authorize first.
          <button
            mat-button
            (click)="login()"
          >
            Login
          </button>
        }
      </mat-card-content>
    </mat-card>
  </main>
} @else if (error) {
  <div class="error-container">
    <span></span>
    {{ error }}
    <span></span>
    <span></span>
  </div>
}
