@use '@angular/material' as mat;

:host {
  min-height: 100%;
  display: flex;
  flex-flow: column nowrap;

  background-color: var(--mat-sys-surface-container-low);
}

main {
  --main-spacing: calc(20px + 3px * var(--mat-sys-density));

  width: 100%;
  max-width: 1000px;
  margin: 0 auto var(--main-spacing);
  padding: 0 var(--main-spacing) var(--main-spacing);

  transition-property: opacity, transform;
  transition-duration: 300ms, 500ms;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);

  @starting-style {
    opacity: 0;
    transform: translateY(10px);
  }
}

main > .section {
  margin-top: var(--main-spacing);

  @include mat.card-overrides(
    (
      outlined-container-color: var(--mat-sys-surface-container-lowest),
    )
  );
}

mat-card-header {
  margin-bottom: 8px;
}

.header-directions {
  display: flex;
  gap: 4px;
  align-items: center;

  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0, 0, 0, 1);

  @starting-style {
    opacity: 0;
  }
}

/* 
============================
========= Comments =========
============================
*/

.comments-container {
  display: flex;
  flex-flow: column nowrap;

  gap: calc(16px + 2px * var(--mat-sys-density));
}

.comments-container .comment {
  position: relative;
}

.comments-container .comment:not(:last-of-type)::after {
  content: '';

  position: absolute;
  width: 100%;
  bottom: calc(-16px / 2);

  border-bottom: 1px solid var(--mat-sys-outline-variant);
}

.post-comment-section {
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 800px) {
    .bg-icon {
      display: none;
    }
  }

  .bg-icon {
    position: absolute;
    color: rgb(from var(--mat-sys-primary) r g b / 5%);
    scale: 18;
    right: 0;
    bottom: 0;

    transform: translate(-45%, -35%);
  }
}

.author-marker {
  display: inline-block;
  padding: 0.2em;

  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  border-radius: var(--mat-sys-corner-extra-small);
}
