<app-header></app-header>

@if (user) {
  <div class="max-content-container container">
    <app-identity-panel [user]="user"></app-identity-panel>
    <main>
      <section>
        <h2 class="section-header">Published Trips</h2>

        <div class="card-list">
          @if (userTrips) {
            @for (trip of userTrips; track trip.id) {
              <app-trip-preview-card
                [trip]="trip"
                appearance="outlined"
                [showAuthor]="false"
                vertical
                [routerLink]="['/trip', trip.id]"
              ></app-trip-preview-card>
            }

            @if (!userTrips.length) {
              <p class="card-list-message">This user hasn't published any trips yet.</p>
            }
          }
        </div>
      </section>
    </main>
  </div>
} @else if (error) {
  <div class="error-container">
    <span></span>
    {{ error }}
    <span></span>
    <span></span>
  </div>
}
