@use '@angular/material' as mat;

:host {
  display: flex;
  flex-flow: column;
  min-height: 100%;

  background-color: var(--mat-sys-surface-container-low);
}

.container {
  width: 100%;
  align-self: center;

  display: flex;
  flex-direction: row;

  padding: 16px;
  padding-right: 0;
  gap: 48px;

  &.compact {
    gap: 24px;
    flex-direction: column;
  }
}

main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 16px;
}

.section-header {
  font: var(--mat-sys-title-large);
}

.card-list {
  min-height: 100px;

  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: center;

  gap: 16px;
  padding: 8px 0;
}

.card-list-message {
  align-self: flex-start;
  font: var(--mat-sys-label-large);
}
