a.brand-name {
  text-decoration: none;
  color: inherit;
}

.content-container {
  display: flex;
  width: inherit;
  height: inherit;
  align-items: inherit;

  button[mat-icon-button] {
    color: var(--app-header-icon-color, var(--mat-sys-on-surface-variant));
  }
}
