<form class="form-group">
  <input
    autocomplete="username"
    type="text"
    style="display: none"
  />

  <mat-form-field appearance="outline">
    @let passwordControl = form.controls.password;

    <input
      type="checkbox"
      #passwordVisibility
      style="display: none"
    />

    <mat-label>Current Password</mat-label>
    <input
      matInput
      autocomplete="current-password"
      [type]="passwordVisibility.checked ? 'text' : 'password'"
      [formControl]="passwordControl"
    />

    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="passwordVisibility.click()"
    >
      <mat-icon>{{ passwordVisibility.checked ? 'visibility' : 'visibility_off' }}</mat-icon>
    </button>

    @if (passwordControl.errors) {
      <mat-error>{{ passwordErrorMessage(newPasswordControl) }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    @let newPasswordControl = form.controls.newPassword;

    <input
      type="checkbox"
      #newPasswordVisibility
      style="display: none"
    />

    <mat-label>New Password</mat-label>
    <input
      matInput
      autocomplete="new-password"
      [type]="newPasswordVisibility.checked ? 'text' : 'password'"
      [formControl]="newPasswordControl"
    />

    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="newPasswordVisibility.click()"
    >
      <mat-icon>{{ newPasswordVisibility.checked ? 'visibility' : 'visibility_off' }}</mat-icon>
    </button>

    @if (newPasswordControl.errors) {
      <mat-error>{{ passwordErrorMessage(newPasswordControl) }}</mat-error>
    }
  </mat-form-field>

  <button
    mat-button
    (click)="update()"
    [disabled]="form.invalid || form.disabled"
  >
    Update
  </button>

  <button
    type="reset"
    style="display: none"
    #resetButton
  ></button>
</form>
