.identity {
  width: 256px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  &.horizontal {
    width: inherit;

    flex-direction: row;
    align-items: center;

    .avatar {
      min-width: 120px;
      width: 120px;

      min-height: 120px;
      height: 120px;
    }
  }
}

.avatar {
  container-type: inline-size;
  min-width: 256px;
  width: 256px;

  min-height: 256px;
  height: 256px;
}

.avatar-placeholder {
  scale: 1.2;

  width: 100cqw;
  height: 100cqw;
  font-size: 100cqw;
  color: var(--mat-sys-on-surface);
}

.name {
  font: var(--mat-sys-headline-medium);
  overflow-wrap: anywhere;

  margin-bottom: 8px;
}

.bio {
  font: var(--mat-sys-title-medium);
  color: var(--mat-sys-on-surface);
}

.no-bio {
  font: var(--mat-sys-title-medium);
  color: var(--mat-sys-secondary);
}
