@use '@angular/material' as mat;

mat-card {
  display: flex;
  flex-flow: row nowrap;

  max-width: 900px;
  height: 250px;

  overflow: hidden;
  cursor: pointer;

  transition: box-shadow 0.1s linear;

  .content {
    flex-grow: 1;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    gap: 16px;

    .country {
      font: var(--mat-sys-headline-medium);
    }

    .author {
      font: var(--mat-sys-title-medium);
      color: var(--mat-sys-secondary);
    }
  }

  .duration {
    font: var(--mat-sys-title-medium);
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .price {
    font: var(--mat-sys-headline-medium);
    color: var(--mat-sys-tertiary);
  }

  .image {
    width: 55%;
    flex-shrink: 0;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &.vertical {
    width: 250px;
    height: 320px;

    flex-flow: column nowrap;

    .image {
      width: 100%;
      flex-shrink: 1;
      order: -1;
    }
  }
}

:host:hover {
  @include mat.card-overrides(
    (
      elevated-container-elevation: var(--mat-sys-level0),
    )
  );
}
