<mat-card
  [appearance]="appearance"
  [class.vertical]="vertical"
>
  <div class="content">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title class="country"> {{ trip.name }} </mat-card-title>
        @if (showAuthor) {
          <mat-card-subtitle class="author">by {{ trip.author.name }}</mat-card-subtitle>
        }
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p class="duration">{{ trip.duration }} days</p>

      <div class="row">
        <p class="price">${{ trip.price }}</p>
        <span class="spacer"></span>
        @if (!disableLike) {
          <app-trip-like-button
            [liked]="trip.liked"
            [tripId]="trip.id"
            [authorId]="trip.author.id"
          ></app-trip-like-button>
        }
      </div>
    </mat-card-content>
  </div>

  <div class="image">
    <img
      [src]="trip.imageUrl"
      alt="{{ trip.name }}"
    />
  </div>
</mat-card>
