<mat-accordion
  cdkDropList
  cdkDropListOrientation="vertical"
  [cdkDropListSortPredicate]="dropPredicate"
  (cdkDropListDropped)="drop($event)"
>
  @let cityIds = cityIds$ | async;
  @for (control of formArray.controls; track control.controls._appId.value; let index = $index) {
    @let edgeItem = index === 0 || index >= formArray.length - 1;
    @let cityId = cityIds?.[index];

    <mat-expansion-panel
      class="expansion-panel"
      cdkDrag
      cdkDragLockAxis="y"
      [cdkDragDisabled]="edgeItem"
      [expanded]="activeStep === index"
      (opened)="setActiveStep(index)"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <app-activity-header [control]="control"></app-activity-header>

          <span class="spacer"></span>

          @if (index < formArray.length - 1) {
            <app-add-activity-menu
              class="add-activity-menu"
              [entries]="ACTIVITY_MENU_ENTRIES"
              (create)="createActivity($event, index + 1)"
            ></app-add-activity-menu>
          }
          <mat-icon
            cdkDragHandle
            class="cdk-drag-handle"
            [class.disabled]="edgeItem"
          >
            drag_handle
          </mat-icon>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-activity-editor
        [control]="control"
        [cityId]="cityId"
      ></app-activity-editor>

      <mat-action-row>
        @if (!edgeItem) {
          <button
            mat-button
            class="delete-button"
            (click)="removeActivity(index)"
          >
            <mat-icon>delete</mat-icon>Remove
          </button>
          <span class="spacer"></span>
        }
        <button
          mat-button
          (click)="setActiveStep(index - 1)"
          [disabled]="index === 0"
        >
          Previous
        </button>
        <button
          mat-button
          (click)="setActiveStep(index + 1)"
          [disabled]="index >= formArray.length - 1"
        >
          Next
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  }
</mat-accordion>
