@use '@angular/material' as mat;

:host {
  display: block;
  min-height: 100%;

  background-color: var(--mat-sys-surface-container-low);
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  padding: 16px;
  gap: 48px;
}

main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 16px;
}

.tab-content {
  margin-top: 16px;
}
