@use '@angular/material' as mat;

:host {
  display: block;
  min-height: 100%;

  background-color: var(--mat-sys-surface-container-low);
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;

  padding: 16px;
  gap: 48px;
}

.identity {
  width: 256px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  .avatar {
    container-type: inline-size;
    width: 256px;
    height: 256px;

    .avatar-placeholder {
      scale: 1.2;

      width: 100cqw;
      height: 100cqw;
      font-size: 100cqw;
      color: var(--mat-sys-on-surface);
    }
  }

  .name {
    font: var(--mat-sys-headline-medium);
    overflow-wrap: anywhere;

    margin-bottom: 8px;
  }

  .bio {
    font: var(--mat-sys-title-medium);
    color: var(--mat-sys-on-surface);
  }

  .no-bio {
    font: var(--mat-sys-title-medium);
    color: var(--mat-sys-secondary);
  }
}

main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 16px;
}

.tab-content {
  margin-top: 16px;
}
