ol.stepper {
  counter-reset: item;
}

ol.stepper > li {
  --stepper-trace-offset: 4px;
  --stepper-marker-size: 1.5em;
  --stepper-item-margin: calc(24px + 4px * var(--mat-sys-density));

  counter-increment: item;

  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin: var(--stepper-item-margin);
  margin-bottom: 0;

  font: var(--mat-sys-label-large);
}

ol.stepper > li:first-of-type {
  margin-top: 0;
}

ol.stepper > li > .stepper-marker::after {
  content: counter(item);

  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  margin-right: calc(12px + 2px * var(--mat-sys-density));

  width: var(--stepper-marker-size);
  height: var(--stepper-marker-size);

  border-radius: var(--mat-sys-corner-full);
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  font: var(--mat-sys-label-large);
}

ol.stepper > li:not(:first-of-type)::before {
  content: '';
  position: absolute;

  border-left: 1px solid var(--mat-sys-outline);

  left: calc(1.5em / 2);
  top: 0;
  bottom: calc(50% + var(--stepper-marker-size) / 2 + var(--stepper-trace-offset));
}

ol.stepper > li:not(:last-of-type)::after {
  content: '';
  position: absolute;

  border-left: 1px solid var(--mat-sys-outline);

  left: calc(1.5em / 2);
  top: calc(50% + var(--stepper-marker-size) / 2 + var(--stepper-trace-offset));
  bottom: calc(0px - var(--stepper-item-margin));
}
