@use '@angular/material' as mat;
@use './theme-colors' as theme;

html {
  --app-splash-screen-color: #2e67ca;
  --mat-sys-density: 0;

  // Shape
  --mat-sys-corner-full: 99999px;
  --mat-sys-corner-extra-large-top: 28px 28px 0 0;
  --mat-sys-corner-extra-large: 28px;
  --mat-sys-corner-large-top: 16px 16px 0 0;
  --mat-sys-corner-large-bottom: 0 0 16px 16px;
  --mat-sys-corner-large-end: 0 16px 16px 0;
  --mat-sys-corner-large-start: 16px 0 0 16px;
  --mat-sys-corner-large: 16px;
  --mat-sys-corner-medium: 12px;
  --mat-sys-corner-small: 8px;
  --mat-sys-corner-extra-small-top: 4px 4px 0 0;
  --mat-sys-corner-extra-small: 4px;

  color-scheme: dark;

  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$spring-green-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;

  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

* {
  box-sizing: border-box;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.spacer {
  flex: 1 1 auto;
}

.max-content-container {
  max-width: 1200px;
}

.sub-section {
  margin-bottom: calc(12px + 2px * var(--mat-sys-density));

  &-header {
    font: var(--mat-sys-title-medium);
  }

  * > &:last-of-type {
    margin-bottom: 0px;
  }
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: var(--mat-sys-tertiary);
}
