<app-header
  noBrand
  class="header"
></app-header>

<div
  class="splash-screen"
  [class.compact]="compactDesign()"
>
  <img
    class="splash-pattern"
    src="home/splash-pattern.svg"
  />
  <h1 class="brand-name">Avento</h1>

  <mat-card>
    <form
      (submit)="search(from.value || from.placeholder, to.value || to.placeholder)"
      class="search-bar"
    >
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        subscriptSizing="dynamic"
      >
        <mat-label>From</mat-label>
        <input
          #from
          matInput
          placeholder="Vienna"
        />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="always"
        subscriptSizing="dynamic"
      >
        <mat-label>To</mat-label>
        <input
          #to
          matInput
          placeholder="New York"
        />
      </mat-form-field>
      <button
        mat-fab
        class="search-button"
        type="submit"
      >
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </mat-card>

  <div></div>
  <div></div>
</div>

@if (trips) {
  <main
    class="trending"
    [class.compact]="compactDesign()"
  >
    <h2 class="trending-header">Trending</h2>
    <mat-card
      class="trending-cards-container"
      appearance="outlined"
    >
      @for (trip of trips; track trip.id) {
        <app-trip-preview-card
          [trip]="trip"
          class="trending-card"
          [vertical]="compactDesign()"
          [routerLink]="['/trip', trip.id]"
        ></app-trip-preview-card>
      }
    </mat-card>
  </main>
}

<footer>
  <p>&copy; Avento 2025</p>
</footer>
