:host {
  display: flex;
  flex-direction: column;

  min-height: 100%;
  width: 100%;

  background-color: var(--mat-sys-surface-container-low);
}

.registration-form-container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  flex: 1 1 auto;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
}

.registration-form {
  width: 400px;

  .card-content {
    padding-top: 16px;

    .input-field {
      width: 100%;
      margin-bottom: 4px;

      &:last-of-type {
        margin-bottom: 0px;
      }
    }
  }
}

.row {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}
